html, body {
  margin: 0;
  padding: 0;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
}

.bg2 {
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
}

.text {
  color: white;
  font-size: 32px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 10px;
}

.content {
  height: 400px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}
