* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 800;
  color: #000;
}

.card {
  width: 320px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.profile-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.content {
  padding: 20px;
}

.name {
  margin: 10px 0 5px;
  font-size: 26px;
}

.desc {
  color: #777;
  margin: 5px 0;
}

.location {
  margin: 10px 0;
  font-weight: bold;
}

.social {
  margin-top: 15px;
}

.social a {
  margin: 0 10px;
}

.social img {
  width: 32px;
  height: 32px;
}

.contact-btn {
  display: block;
  padding: 15px;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.contact-btn:hover {
  background: #333;
}
